<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-checkbox></ion-checkbox>
  <p id=“select”>
    <ion-item>
      <ion-label>燃やすゴミ</ion-label>
      <ion-checkbox color=“danger” checked slot=“start”></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>プラスチック</ion-label>
      <ion-checkbox color=“warning” checked slot=“start”></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>ペットボトル</ion-label>
      <ion-checkbox color=“primary” checked slot=“start”></ion-checkbox>
    </ion-item>
  </p>
</ion-content>
